.imagess {
  height: auto;
  width: 200px;
}
.div1{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.div2 {
  width: 50%;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
